<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">DataUsuarios</a>
      <ul class="d-flex">
        <a class="col align-center">Inicio</a>
        <a class="btn btn-outline-success col align-end" href="/usuarios">Iniciar Sesión</a>
      </ul>
    </div>
  </nav>