<%- include("../partials/header") %>

<form action="#" method="POST">
    <label>Nombre:</label><br>
    <input type="text" placeholder="Nombre" name="nombre"><br>
    <label>Apellido:</label><br>
    <input type="text" placeholder="Apellido" name="apellido"><br>
    <br>
    <button>Enviar</button><br>
</form>

<%- include("../partials/footer") %>