<%- include('../partials/header') %>

<form action="#" method="POST">
    <label>Nombre</label>
    <input type="text" name="nombre" placeholder="Nombre">
    <label>Apellido</label>
    <input type="text" name="apellido" placeholder="Apellido">
    <button>Enviar</button>
</form>

<%- include('../partials/footer') %>