<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sin Usuario para Mostrar</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <%-include('../partials/header') %>
    </header>
    <main>

       <section id="card">
           <img src="" alt="">
           <div id="informacion">
               <h1>Sin Usuario para Mostrar</h1>
           </div>
       </section>

        

    </main>
    <footer>
        <%-include('../partials/footer') %>
    </footer>



</body>
</html>

