<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        @media (min-width: 900px) {
            header {
                padding: 0 30px;
                flex-direction: row;
                justify-content: space-between;
            }

            nav {
                flex-direction: row;
            }

        }
    </style>
    <title>Error de Logueo</title>
    
</head>
<body>
    <header>
        <%-include('../partials/header') %>
    </header>
    <main>
<h1> ¡Atención!</h1>
<h2>El Usuario No Existe</h2>

<h3>Por favor, inicia sesión nuevamente</h3>
</main>
<footer>
    <%-include('../partials/footer') %>
</footer>